@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i");
.lg-pad-contain {
  padding-top: 40px;
  padding-bottom: 40px; }

.md-pad-contain {
  padding-top: 20px;
  padding-bottom: 20px; }

.sm-pad-contain {
  padding-top: 7.5px;
  padding-bottom: 7.5px; }

.navbar-brand {
  font-family: "Bitter", serif;
  color: black !important; }

nav.navbar.navbar-default {
  min-height: auto; }

#start-demo {
  margin-top: 30px;
  border-top: 5px solid #3279b7;
  padding-top: 30px; }

.blueThick {
  border-top: 5px solid #3279b7; }

.demoAuth {
  width: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px; }

#tokens {
  max-width: 220px; }

#thetokens {
  display: inline; }

#generateTokens {
  float: right;
  font-size: 24px;
  color: #3279b7; }

#worked {
  color: #3279b7; }

#no-worked {
  color: #d00000; }

#consumer-header {
  background-image: url("../img/consumer-home/security1-dark.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 40vh;
  padding: 0; }

.nopadding {
  padding: 0; }

#about-header {
  background-image: url("../img/consumer-home/about1.jpg"); }

.jumbo-header {
  padding-top: 100px;
  padding-bottom: 24px;
  overflow: auto;
  width: 100%; }

#consumer-header h1 {
  max-width: 75%;
  padding-top: 14%;
  margin-top: 0;
  font-family: "Bitter", serif;
  margin-left: 14%;
  color: white;
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 28px; }

#consumer-header h3 {
  max-width: 75%;
  margin-left: 14%;
  color: white;
  font-size: 20px;
  padding-bottom: 1%;
  text-transform: lowercase;
  font-family: "Raleway", sans-serif;
  word-wrap: break-word; }

.classy-button {
  color: white;
  border-radius: 0px;
  border: 3px solid #3279b7;
  background-color: #3279b7;
  margin-left: 14%;
  margin-top: 1%;
  margin-bottom: 14%;
  width: auto;
  height: auto;
  min-width: 170px;
  min-height: 65px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16pt;
  font-family: "Bitter", serif; }

.classy-button:hover {
  background-color: white;
  color: black;
  border-radius: 5px; }

/*About*/
#products {
  padding: 10px; }

.main-heading {
  text-align: center;
  padding-top: 50px; }

.main-heading h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase; }

.main-heading p {
  margin-top: 20px;
  line-height: 25px;
  color: #8e8e8e;
  margin-bottom: 50px; }

.products-table th,
.products-table td {
  vertical-align: top;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 90px; }

.products-table .th-description {
  min-width: 200px; }

.products-table tr:nth-child(odd) {
  background-color: #eee; }

.products-table-overflow {
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }

.products-table-overflow::-webkit-scrollbar {
  display: none; }

/*============================================================
 * Desktop media
 *============================================================
 */
@media (min-width: 768px) {
  .lg-pad-contain {
    padding-top: 80px;
    padding-bottom: 80px; }

  .md-pad-contain {
    padding-top: 40px;
    padding-bottom: 40px; }

  .sm-pad-contain {
    padding-top: 15px;
    padding-bottom: 15px; }

  .navbar-nav {
    float: right;
    margin: 0; }

  #consumer-header {
    background-image: url("../img/consumer-home/security1-dark.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 95vh;
    padding: 0; }

  #consumer-header h1 {
    font-size: 38px;
    max-width: 50%; }

  #consumer-header h3 {
    font-size: 30px;
    max-width: 50%; }

  #products {
    padding: 80px; }

  #about-header {
    background-image: url("../img/consumer-home/about1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 30vh;
    padding: 0; } }

/*# sourceMappingURL=connor.css.map */
